<!-- Team -->
<section class="bg-light page-section" id="{{ site.data.sitetext.team.section | default: "team" }}">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext.team.title }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext.team.text }}</h3>
	</div>
  </div>
  <div class="row">
	<div class="col-sm-4" style="margin:auto">
	  <div class="team-member">
		  
		   <ul class="list-inline social-buttons" style="margin-botton:10px">
            <li class="list-inline-item">
	  <a href="https://github.com/hwangsero"><i class="fab fa-github"></i>
		    </a></li></ul>
		  
		<img class="mx-auto rounded-circle" src="assets/img/프로필.png" alt="" style="margin-top:10px">
		<h4>황세로</h4>
		  <p class="text-muted"><b>"개발은 혼자 하는게 아니잖아요"</b><br>같이 고민하고 같이 성장해 나갑시다!<br> 그게 더 빠르고 즐겁지 않을 까요?
		 
		  </p>
		<ul class="list-inline social-buttons">
		</ul>
	  </div>
	</div>
	  
	  <div class="col-sm-4" style="min-width:600px">
	  <div class="team-member">
			<h5>개발자로서의 다짐</h5>
		  <p class="text-muted" style=text-align:left><b>"더 고집없는 개발자가 되겠습니다."</b><br>자기 주장은 확실하지만 고집은 없는 편이라고 생각합니다.
			  <br>다른 사람의 가르침, 의견을 고집과 편견 없이 수용하겠습니다.
		 
		  </p>
		    <p class="text-muted" style=text-align:left><b>"더 함께하고픈 개발자가 되겠습니다."</b><br>팀활동에서 장기적으로 봤을 때 가장 중요한건 팀분위기와 팀워크라 생각합니다.
			  <br>혼자가 아니라 같이 즐겁게 일하는 개발자가 되겠습니다.
		 
		  </p>
		<p class="text-muted" style=text-align:left><b>"더 꾸준한 개발자가 되겠습니다."</b><br>급하게 달려나가는 것보다 지치지않고 꾸준히 달려가는 것이 중요하다고 생각합니다.
			  <br>정체되어있지 않고 지속적으로 성장하는 개발자가 되겠습니다.
		 
		  </p>
	  </div>
	</div>

	  
  </div>
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted">{{ site.data.sitetext.team.subtext | markdownify }}</div>
	</div>
  </div>
</div>
</section>
<!-- End Team -->
